// app global css in SCSS form
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  transition: #fff 300ms ease-in-out 0s;
}

.logo {
  &-small {
    height: 125px;
    width: 182px;
  }
}
.login {
  &-card {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    overflow: hidden;
  }
}
.linkify {
  cursor: pointer;
  &:active {
    color: rgb(85, 26, 139);
  }
}
.main-panel {
  max-height: 600px;
}
.no {
  &-caps {
    text-transform: capitalize;
  }
  &-overflow {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
}

.text {
  &-white {
    color: #fff;
  }
}

.theme-color {
  
  &-bg {
    &-primary {
      background-color: $primary;
    }
    &-secondary {
      background-color: $secondary;
    }
  }
  
  &-text {
    &-primary {
      color: $primary;
    }
    &-secondary {
      color: $secondary;
    }
  }
}
